language: python
matrix:
  include:
    - name: 3.8 public
      python: '3.8'
    - name: 3.8 private
      python: '3.8'
      env: PRIVATE_ACCESS=1
    - name: 3.9 public
      python: '3.9'
    - name: 3.9 private
      python: '3.9'
      env: PRIVATE_ACCESS=1
install:
  - python -m pip install -e ".[test]"
  # install conda for plugin runner
  - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - pip list
  # install singularity for container models
  - conda install -yc conda-forge singularity
script:
  - if [ "$PRIVATE_ACCESS" = 1 ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then pytest -m "private_access and not requires_gpu and not memory_intense and not slow and not travis_slow"; fi
  - if [ "$PRIVATE_ACCESS" != 1 ]; then pytest -m "not private_access and not requires_gpu and not memory_intense and not slow and not travis_slow"; fi
  - python -c "from brainscore_core.plugin_management.test_plugins import run_args; run_args('brainscore_language')"

jobs:
  include:
    - stage: "Trigger automerge workflow"
      # trigger workflow to check if plugin is being added
      - >
        if [ "$TRAVIS_PULL_REQUEST" = "true" ]; then
        curl -L -X POST \
        -H 'Authorization: token '$GH_WORKFLOW_TRIGGER 
        -d '{\"state\": \"success\", \"description\": \"Run automerge workflow\", \"context\": \"continuous-integration/travis"}' \
        \"https://api.github.com/repos/brain-score/language/statuses/$TRAVIS_PULL_REQUEST_SHA\"
        fi
