language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
install:
  # fix setuptools for python 3.7, error in other versions https://github.com/pypa/setuptools/issues/3293
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7* ]]; then
    pip install "setuptools==60.5.0";
    fi
  - python -m pip install -e ".[test]"
  # install conda for plugin runner
  - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - pip list
  # install singularity for container models
  - conda install -yc conda-forge singularity
script:
#  - pytest -m "not requires_gpu and not memory_intense and not slow and not travis_slow"
#  - python brainscore_language/plugin_management/test_plugins.py
  - python brainscore_language/benchmarks/pereira2018/test.py
