################################################################
#### project config ####
################################################################

[project]
name = "brainscore_language"
version = "0.1.0"
description = ""
authors = []
license = { 'file' = 'LICENSE' }
readme = "README.md"
requires-python = ">=3.7"

dependencies = [
    "tqdm",
    "numpy>=1.21",
    "brainscore_core@git+https://github.com/brain-score/core.git@main",
    "brainio@git+https://github.com/brain-score/brainio.git@main",
    "datasets==2.*", # necessary for wikitext -- remove once plugin system works
    "scipy", # necessary for accuracy metric -- remove once plugin system works
    "scikit-learn", # necessary for neural predictivity -- remove once plugin system works
]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-check",
    "transformers>=4.11.3",
    "torch>=1.9.1",
    "gensim",
    "joblib",
]

[build-system]
requires = [
    "setuptools>=65.*",
    "wheel"
]


################################################################
#### mypy type-checking config ####
################################################################

[tool.mypy]
ignore_missing_imports = true


[tool.pytest.ini_options]
testpaths = [
    "tests"
]

filterwarnings = [
    "ignore::DeprecationWarning",
    "ignore::FutureWarning"
]

markers = [
    "memory_intense",
    "travis_slow",
    "slow",
]